body {
  margin: 0;
  height: 100%;
  background-color: antiquewhite;
  text-align: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}
#search {
  align-items: center;
  text-align: center;
}
#searchBox {
  border: none;
  /* border-radius: 2rem; */
  background-color: inherit;
  border-bottom: solid rgb(136, 76, 76) 1px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#celsius {
  display: inline-block;
}
#temp {
  font-size: 50px;
  display: inline-block;
}
